html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    position: fixed;
    top: 0;
    left: 0;
}
#app {
    min-height: 100%;
}
.chart-container {
    height: 250px;
    width: 100%;
}
.chart-container svg {
    height: 100%;
    width: 100%;
}

svg g {
    transform-origin: 50%;
}