html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
#app {
    height: 100%;
    overflow: auto;
}
.content-wrapper {
    overflow: hidden;
}
.chart-container {
    height: 250px;
    width: 100%;
}
.chart-container svg {
    height: 100%;
    width: 100%;
}

svg g {
    transform-origin: 50%;
    width: 90%;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.container {
    position: relative;
}
.fluid-container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
.cap-slider {
    height: 230px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.year-range {
    width: 90%;
    margin: 0 auto;
}
.stacked-row {
    height: 5px;
    width: 100%;
}
.stacked-row:after {
    height: 100%;
    display: block;
    content: '';
}
.stacked-row.negative:after {
    background-color: red;
}
.stacked-row.positive:after {
    background-color: green;
}
.stack-container {
    margin: 30px auto;
    width: 90%;
}
.form-group {
    display: block;
}